* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

header.nav-container{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    height: 50px;
    background-color: rgb(248, 117, 170);
    position: fixed;
}

.logo{
    font-size: 1.2rem; 
    color: rgb(255, 223, 223);
}

header.nav-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.nav-container .nav-list li{
    display: inline;
    margin: 0px 20px 0px 20px;
}

header.nav-container .nav-list li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 223, 223);
    transition: all 0.2s ease-in-out;
}

header.nav-container .nav-list li:hover a{
    color: rgb(249, 249, 224);
}

.nav-list ul li a.active {
    color: rgb(249, 249, 224);  
}

main {
    width: 80%;
}


.introduction-group{
    flex: 1;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.introduction-group h1{
    margin-top: 20%;
    padding: 6rem 2rem 2rem 3rem;
    font-size: 2.3rem;
    color: rgb(138, 205, 215);
}

.introduction-group p{
    padding: 0 2rem 0 3rem;
    color: black;
}

.introduction-group img {
    margin-top: 20%;
    width: 48%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px grey;
}

.About-2{
    width: 100%;
    margin-top: 15%;
}

.About-2 h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(138, 205, 215);
}

.row-members{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.members-col1, .members-col2, .members-col3, .members-col4, .members-col5{
    width: 10rem;
    background-color: rgb(255, 223, 223);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgb(248, 117, 170);
}

.members-col1 img, .members-col2 img, .members-col3 img, .members-col4 img, .members-col5 img{
    width: 9rem;
    border-radius: 0.5rem;
}

.members-col1 h3, .members-col2 h3, .members-col3 h3, .members-col4 h3, .members-col5 h3{
    font-size: 1rem;
    color: rgb(248, 117, 170);
}

.members-col1 p, .members-col2 p, .members-col3 p, .members-col4 p, .members-col5 p{
    font-size: 0.7rem;
    line-height: 1.5rem;
}

.Album h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(138, 205, 215);
}

.row-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 5% 0 5% 0;
}

.row-album1, .row-album2, .row-album3 {
    flex: 1;
    width: 60%;
    display: flex;
    background-color: rgb(255, 223, 223);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(248, 117, 170);
}

.row-album1 img, .row-album2 img, .row-album3 img{
    width: 9rem;
    border-radius: 0.5rem;
}
.desc-album1 h3, .desc-album2 h3, .desc-album3 h3 {
    color: rgb(248, 117, 170);
    font-size: 1.5rem;
    margin-left: 1rem;
}

.desc-album1 p, .desc-album2 p, .desc-album3 p {
    font-size: 0.8rem;
    margin-left: 1rem;
    line-height: 1.2rem;
}

.Achievement h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(138, 205, 215);
}

.achievement-content {
    flex: 1;
    width: 80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.achievement-content img{
    width: 25rem;
    margin: 6% 7% 5% 7%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px grey;
}

.list-achieve{
    color: rgb(248, 117, 170);
    font-weight: 600;
    line-height: 2rem;
}

.aside{
    height: 40%;
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
    text-align: center;
    margin: auto;
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(255, 223, 223);
}

.aside img {
    width: 10rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px grey;
    margin-bottom: 1rem;
}

.aside h4, a{
    color: rgb(248, 117, 170);
}

footer {
    height: 50px;
    width: 100%;
    color: rgb(249, 249, 224);
    background-color: rgb(248, 117, 170);
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }

    header.nav-container{
    flex-direction: column;
    }
    
    .logo{
        font-size: 0.8rem; 
    }
    
    header.nav-container .nav-list li{
        margin: 5px;
    }
    
    header.nav-container .nav-list li a{
        font-size: 0.8rem;
    }
    
    .introduction-group{
        flex-direction: column;
    }

    .introduction-group h1{
        padding: 4rem 1rem 1rem 1rem;
        font-size: 1rem;
    }

    .introduction-group p{
        padding: 0 1rem 0 1rem;
        color: black;
        font-size: 0.8rem;
    }

    .introduction-group img {
        margin: 1rem 1rem 0 1rem;
        width: 80%;
    }

    .About-2{
        margin-top: 2rem;
    }  
    
    .About-2 h2{
        font-size: 1rem;
    }

    .row-members{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Album h2{
        margin-top: 10%;
        font-size: 1rem;
    }

    .row-album1, .row-album2, .row-album3 {
        width: 90%;
        padding: 0.3rem;
    }
    
    .row-album1 img, .row-album2 img, .row-album3 img{
        width: 5rem;
    }

    .desc-album1 h3, .desc-album2 h3, .desc-album3 h3 {
        font-size: 0.8rem;
    }

    .desc-album1 p, .desc-album2 p, .desc-album3 p {
        font-size: 0.5rem;
        margin-left: 1rem;
        line-height: 1;
    }

    .Achievement h2{
        margin-top: 10%;
        font-size: 1rem;
    }

    .achievement-content{
        flex-direction: column;
        width: 100%;
    }

    .achievement-content img{
        width: 80%;
    }

    .list-achieve{
        margin: 1rem 1rem 1rem 2rem;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1rem;
    }

    .aside{
        position: static;
        margin-bottom: 0;
    }
    
    .aside img {
        width: 60%;
    }
    
    .aside h4{
        font-size: 1rem;
    }

    footer {
        height: 30px;
        font-size: 0.5rem;
    }

}


 






